<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoer.mapper.ConfigAdMapper">

    <resultMap id="ConfigAdMap" type="com.zuoer.domain.entity.ConfigAd">
        <result column="ad_id" property="adId"/>
        <result column="ad_type" property="adType"/>
        <result column="ad_source_type" property="adSourceType"/>
        <result column="ad_source_url" property="adSourceUrl"/>
        <result column="ad_link" property="adLink"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--通过查询实体作为筛选条件查询-->
    <select id="listConfigAd" resultType="com.zuoer.domain.vo.ConfigAdVO">
        select *
        from config_ad
        <where>
            1=1
            <if test="queryParams.adId != null">
                and ad_id = #{queryParams.adId}
            </if>
            <if test="queryParams.adType != null and queryParams.adType != ''">
                and ad_type = #{queryParams.adType}
            </if>
            <if test="queryParams.adSourceType != null">
                and ad_source_type = #{queryParams.adSourceType}
            </if>
            <if test="queryParams.adSourceUrl != null and queryParams.adSourceUrl != ''">
                and ad_source_url = #{queryParams.adSourceUrl}
            </if>
            <if test="queryParams.adLink != null and queryParams.adLink != ''">
                and ad_link = #{queryParams.adLink}
            </if>
            <if test="queryParams.status != null">
                and status = #{queryParams.status}
            </if>
            <if test="queryParams.createTime != null">
                and create_time = #{queryParams.createTime}
            </if>
            <if test="queryParams.updateTime != null">
                and update_time = #{queryParams.updateTime}
            </if>
        </where>
    </select>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="adId" useGeneratedKeys="true">
        insert into config_ad(ad_type, ad_source_type, ad_source_url, ad_link, status, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.adType}, #{entity.adSourceType}, #{entity.adSourceUrl}, #{entity.adLink}, #{entity.status}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="adId" useGeneratedKeys="true">
        insert into config_ad(ad_type, ad_source_type, ad_source_url, ad_link, status, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.adType}, #{entity.adSourceType}, #{entity.adSourceUrl}, #{entity.adLink}, #{entity.status}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
         ad_type = values(ad_type) , ad_source_type = values(ad_source_type) , ad_source_url = values(ad_source_url) , ad_link = values(ad_link) , status = values(status) , create_time = values(create_time) , update_time = values(update_time)     </insert>

</mapper>

